@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@layer base{
    body {
        @apply font-[Roboto];
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }

    

    .tab {
        @apply text-white;
        @apply py-2;
        @apply mx-4;
        @apply bg-gray-600;
    }
    


    .tab[aria-selected="true"] {
        @apply text-gray-800;
        @apply bg-teal-400;
    }

    .square {
        width: 50%;
        padding-bottom: 50%;
        background-color: teal;
      }
      

 
    @media (max-width: 640px) {
        .tab {
          font-size: 0.8em; /* Reduce font size */
          padding: 0.5em; /* Increase padding */
        }
      }

    @media (max-width: 300px) {
    .tab {
        font-size: 0.5em; /* Reduce font size */
        padding: 0.em; /* Increase padding */
    }
    }

    
      
}